@import url('https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic');
 
 html{
	min-height: 920px;
 }
 
 .body {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url("../../assets/images/phantom.jpg");
 }
 
 .page_link {
	text-decoration: none;
 }
 
 .logo {
	position: relative;
	width: 670px;
	margin-left: 40px;
	padding: 20px 0 0 0px;
	z-index: 1;
	display: flex;
	gap: 30px;
	opacity: 0.9;
	transition: 0.5s;
	z-index: 1;
	cursor: pointer;
 }
 
 .logo_icon {
	display: inline-block;
	background-image: url("../../assets/icons/logo.4f82cd73.svg");
	background-repeat: no-repeat;
	height: 130px;
	width: 780px;
	background-size: cover;
	cursor: pointer;
 }
 
 .logo:hover {
	opacity: 1;
 }
 
 .logo_h1{
	text-decoration: none;
	margin: 0;
	font-family: "Playfair Display", sans-serif;
	color: white;
	font-size: 30px;
	text-transform: uppercase;
	cursor: pointer;
	
 }
 
 .language {
	position: absolute;
	top: 20px;
	right: 15px;
	opacity: 0.7;
	z-index: 2;
	height: 20px;
	display: flex;
	align-items: center;
	gap: 5px;
 }
 
 .language_text {
	padding-bottom: 3px;
	font-family: "Playfair Display", sans-serif;
	color: white;
	font-size: 18px;
 }
 
 .language_pic {
	display: inline-block;
	background-image: url("../../assets/icons/britain.svg");
	background-repeat: no-repeat;
	height: 20px;
	width: 30px;
	background-size: cover;
	cursor: pointer;
	opacity: 1;
 }
 
 .language_pic_ru {
	background-image: url("../../assets/icons/russia.svg");
 }
 
 .main {
	width: 80%;
	margin: 20px auto;
	max-width: 1084px;
 }
 
 .pictures {
	margin-top: 20px;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
 }
 
 .pictures_text {
	margin: 0;
	width: 100%;
	font-family: "Playfair Display", sans-serif;
	color: white;
	font-size: 44px;
	text-transform: uppercase;
 }
 
 .picture_wrap {
	position: relative;
	cursor: pointer;
	transition: 0.5s;
	overflow: hidden;
	border-radius: 10px;
	width: 256px;
	height: 144px;
 }
 
 .bird_img {
	width: 100%;
	
 }
 
 .bird_name {
	position: absolute;
	left: 10px;
	top: -60px;
	margin: 0;
	font-family: "Playfair Display", sans-serif;
	color: white;
	font-size: 26px;
	
	text-transform: uppercase;
	transition: 0.5s;
 }
 
 .picture_wrap:hover {
	transform: scale(1.3);
	z-index: 1;
 }
 
 .picture_wrap:hover .bird_name {
	top: 5px;
 }
 
 .gallery_des {
	padding: 20px;
	font-family: "Playfair Display", sans-serif;
	color: white;
	font-size: 30px;
	
	margin: 0;
 }
 
 .bird {
	width: 100%;
	height: 620px;
	z-index: 2;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-image: url("../../assets/images/phantom.jpg");
	border-radius: 10px;
 }
 
 .info_wrap {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	display: none;
 }
 
 .info {
	padding: 20px;
	height: 100%;
	width: 60%;
	min-width: 560px;
	position: relative;
	z-index: 5;
 }
 
 .info_image {
	width: 160px;
	height: 120px;
 }
 
 .info_image_wrap {
	width: 120px;
	height: 120px;
	border-radius: 10px;
	background: linear-gradient(180deg, rgba(190,42,44,1) 0%, rgba(192,66,43,1) 100%);
 }
 
 .info_bird_image {
	display: block;
	border-radius: 7px;
	width: 120px;
	height: 120px;
 }
 
 .info_bird_name,
 .info_bird_category {
	font-family: "Playfair Display", sans-serif;
	color: white;
	font-size: 30px;
	
	text-transform: uppercase;
 }
 
 .info_audio{
	width: 100%;
	height: 45px;
	display: flex;
	align-items: center;
 }
 
 .audio_play {
	display: block;
	background-image: url("../../assets/icons/play-button-white.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 45px;
	height: 45px;
	cursor: pointer;
	margin-right: 10px;
	transition: 0.5s;
 }
 
 .audio_pause {
	background-image: url("../../assets/icons/pause.svg");
 }
 
 .timeline {
	position: relative;
	width: calc(100% - 110px);
	margin-right: 10px;
	height: 12px;
 }
 
 .range_timeline {
	position: absolute;
	width: 100%;
	height: 12px;
	top: -1px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: white;
	border-radius: 15px;
	
	overflow: hidden;
	cursor: pointer;
 }
 
 .range_timeline::-webkit-slider-runnable-track{
	background: none;
 }
 .range_timeline::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	background-color: black;
	width: 0px;
	height: 12px;
	box-shadow: -800px 0 0 800px rgb(190,42,44);
	cursor: pointer;
 }
 
 .range_timeline::-moz-range-track{
	background: none;
 }
 
 .range_timeline::-moz-range-thumb{
	-moz-appearance: none;
	appearance: none;
	width: 0px;
	height: 12px;
	box-shadow: -800px 0 0 800px rgb(190,42,44);
	cursor: pointer;
 }
 
 .current_time,
 .max_time {
	position: absolute;
	top: 15px;
	font-family: "Playfair Display", sans-serif;
	text-transform: uppercase;
	color: white;
	font-size: 12px;
 }
 
 .current_time {
	left: 0;
 }
 
 .max_time {
	right: 0;
 }
 
 .volume_wrap {
	position: relative;
 }
 
 .volume {
	position: relative;
	display: block;
	background-image: url("../../assets/icons/volume.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 45px;
	height: 45px;
	cursor: pointer;
	transition: 0.5s;
 }
 
 .volume_off {
	background-image: url("../../assets/icons/volume-off.svg");
 }
 
 .volume_bar_wrap {
	position: absolute;
	top: 45px;
	left: 0;
	height: 103px;
	width: 45px;
	display: none;
 }
 
 .volume_bar_field {
	position: relative;
	margin-top: 3px;
	position: absolute;
	width: 45px;
	height: 100px;
	border-radius: 10px;
	background: black;
 }
 
 .volume_bar {
	position: absolute;
	top: 45px;
	left: -17px;
	transform: rotate(270deg);
	width: 80px;
	height: 9px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: white;
	border-radius: 15px;
	overflow: hidden;
	cursor: pointer;
 }
 
 .volume_bar::-webkit-slider-runnable-track {
	background: none;
 }
 
 .volume_bar::-moz-range-track {
	background: none;
 }
 
 .volume_bar::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background-color: black;
	width: 0px;
	height: 12px;
	box-shadow: -100px 0 0 100px rgb(190,42,44);
	cursor: pointer;
 }
 
 .volume_bar::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	background-color: black;
	width: 0px;
	height: 12px;
	box-shadow: -100px 0 0 100px rgb(190,42,44);
	cursor: pointer;
 }
 
 .audio_play:hover,
 .volume:hover {
	transform: scale(1.05);
 }
 
 .info_text_wrap {
	margin: 10px 0;
	height: 250px;
	overflow: auto;
 }
 
 .info_text_wrap::-webkit-scrollbar {
	width: 5px;
 }
 
 .info_text_wrap::-webkit-scrollbar-thumb{
	background: linear-gradient(180deg, rgba(190,42,44,1) 0%, rgba(192,66,43,1) 100%);
	border-radius: 10px;
	-webkit-border-radius: 10px;
 }
 
 .info_text {
	margin: 0;
	font-family: "Playfair Display", sans-serif;
	color: white;
	font-size: 26px;
	
 }
 
 .bird_video {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 597px;
 }
 
 .close {
	position: absolute;
	display: block;
	background: url('../../assets/icons/close.svg');
	background-repeat: no-repeat;
	background-size: cover;
	top: 20px;
	right: 20px;
	width: 44px;
	height: 44px;
	transition: 0.5s;
	cursor: pointer;
 }
 
 .close:hover {
	transform: scale(1.1);
 }
 
 .footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0px 40px 20px 40px;
	flex-wrap: wrap;
 }
 
 .footer_year {
	font-size: 16px;
	font-family: "Playfair Display", sans-serif;
	color: white;
 }
 
 .footer_github {
	display: inline-block;
	background-image: url("../../assets/icons/github.svg");
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
	background-size: cover;
	transition: 0.5s;
 }
 
 .footer_link {
	text-decoration: none;
	display: flex;
	gap: 15px;
	transition: 0.5s;
	opacity: 0.5;
 }
 
 .footer_rsschool {
	display: inline-block;
	background-image: url("../../assets/icons/rsschool.svg");
	background-repeat: no-repeat;
	height: 60px;
	width: 162px;
	background-size: cover;
	opacity: 0.5;
	transition: 0.5s;
 }
 
 .footer_link:hover,
 .footer_rsschool:hover {
	opacity: 1;
	transform: scale(1.05);
 }
 
 @media screen and (max-width: 860px){
	.language {
	  top: 100px;
	}
 }
 
 @media screen and (max-width: 767px){
	html {
	  min-height: 1000px;
	}  
 
	.language {
	  top: 20px;
	}
 
	.logo {
	  margin: auto;
	  padding: 10px 0 0 0px;
	  gap: 20px;
	  display: block;
	  width: 320px;
	}
 
	.logo_icon {
	  display: block;
	  margin: auto;
	  width: 80px;
	  height: 80px;
	}
 
	.logo_h1 {
	  padding-top: 10px;
	  display: block;
	  margin: auto;
	  font-size: 32px;
	  text-align: center;
	}
 
	.picture_wrap:hover {
	  transform: scale(1.2);
	}
 
	.pictures {
	  gap: 10px;
	}
 
	.picture_wrap {
	  width: 128px;
	  height: 72px;
	}
 
	.bird_name {
	  font-size: 14px;
	  left: 5px;
	}
 
	.gallery_des {
	  font-size: 24px;
	}
 
	.info {
	  min-width: auto;
	  width: 100%;
	}
 
	.info_bird_name,
	.info_bird_category {
	  font-size: 22px;
	}
 
	.info_text {
	  font-size: 20px;
	}
 
	.pictures_text {
	  font-size: 24px;
	}
 
	.bird_video {
	  height: 300px;
	  top: 0;
	}
 
	.footer {
	  display: flex;
	  gap: 15px;
	  padding: 0 20px 15px 20px;
	}
 
	.rsschool_wrap {
	  order: 1;
	}
 
	.footer_developer {
	  order: 2;
	}
 }
 
 @media screen and (max-width: 450px){
	.language {
	  top: 160px;
	}
	
	.info_image {
	  opacity: 0;
	}
 }
 
 .active {
	display: block;
 }
 
 .hide {
	display: none;
 }