/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
@import "_null";






body {
	background-color: #FFFFFF;
	line-height: 1;
	font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}


/* ------------------------------ */

[class*="__container"] {
	max-width: 1190px;
	margin: 0px auto;
	padding: 0px 15px;
	@media (max-width: 1599px) {
			
				
		max-width: 1000px;	
		padding: 0px 30px;
	
}
@media (max-width: 999px) {
	max-width: 640px;
	padding: 0px 20px;
}
@media (max-width: 639px) {
	max-width: 320px;
	padding: 0px 10px;
}
}


//   ._ibg {
//   	position: relative;
//   	img {  		object-fit: cover;
//   		 position: absolute;
//   		width: 100%;
//   		height: 100%;
//   		top: 0;
//   		left: 0;
//   	}
//   }

.main {
	flex: 1 1 auto;
	
 }

// ==============================HEADER==============================

.header {
     background-color: #000000;
     z-index: 10;
     position: relative;
@media (max-width: 999px) {
	    position: fixed;
	    width: 100%;
}
	
&__container {}

	// .header__body

	&__body {
		height: 80px;
		display: flex;
      align-items: center;
		@media (max-width: 999px) {
			height: 34px;
		}
	}

	// .header__logo

	&__logo {
		width: 82px;
      height: 52px;
      left: 0px;
      top: 0px;
      border: 1px solid #FFFFFF;
      border-radius: 2px;
		position: relative;
		@media (max-width: 999px) {
			width: 47px;
			height: 29px;
			border: none;
		}
	}

	// .header__menu

	&__menu {
		flex: 1 1 auto;
	}

	// .header__design

	&__design {}

	&__burger {
			display: none;
			@media (max-width: 999px) {
				display: block;
				background: url("../img/burger_menu.svg");
				width: 18px;
				height: 10px;
				cursor: pointer;
		}
	}
}

.logo {

	// .logo__link

	&__link {}

	// .logo__img

	&__title {
		margin-top: 5px;
		font-weight: 400;
      font-size: 19.0145px;
      line-height: 120%;
      text-align: center;
      color: #FFFFFF;
		@media (max-width: 999px) {
			font-size: 12.2899px;
			line-height: 120%;
			margin-top: 0px;
		}
	}

	&__img {
		position: absolute;
      left: 11px;
      top: 23px;
		@media (max-width: 999px) {
			width: 6px;
			height: 13px;
			left: 3px;
			top: 10px;
		}
	}
}

.menu {

	// .menu__body

	&__body {
		@media (max-width: 999px) {	
			position: absolute;
			display: flex;
			justify-content: center;
			width: 160px;
			height: 240px;
			top: 35px;
			right: -200px;
			background: black;
			padding: 20px;
			border-radius: 10%;
			transition: 1s;
			z-index: 30;
			&_active {
				transform: translate(-200px);
            transition: 1s;
			}	
	}
}

	// .menu__list

	&__list {
		display: flex;
		flex: 1 0 auto;
		margin-left: 63px;
		column-gap: 58px;
		@media (max-width: 1599px) {
			column-gap: 48px;
	}
	   @media (max-width: 999px) {
		   flex-direction: column;
		   align-items: flex-start;
			
		   margin: 0;
		   gap: 5px;
}
}

	// .menu__item

	&__item {
		font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
		transition: all 0.0s ease 0s;
		&:hover {
			transition: all 0.0s ease 0s;
			transform: scale(1.1);
			color: #F9804B;
		}
		&_logo{
			
			position: relative;
	   display: flex;
		width: 47px;
		align-items: center;
		margin-bottom: 5px;
    
    
    
	 a {
		display: none;
		padding: 5px; 
		text-align: center;
		font-size: 12.2899px;
		color: #EAF7FE;
		border: 1px solid white;
		@media (max-width: 999px) {
    display: block;
}
	 }
	 img {
        position: absolute;
      height: 14px;
		width: 14px;
		  top: 17px;
		  left: 7px;
	 }
		}
		

		&_about{
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 140%;
		}
		&_design {
			
			display: none;
			@media (max-width: 999px) {
         display: block;
		}
		&:hover {
			transition: all 0.0s ease 0s;
			transform: scale(1.1);
			color: #F9804B;
		}
		}
	}
.designfig {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	transition: all 0.0s ease 0s;
	color: #FFFFFF;
	&:hover {
		transition: all 0.0s ease 0s;
		transform: scale(1.1);
		color: #F9804B;
	}
}
	// .menu__link

	&__link {
		color: #FFFFFF;
		&_about {
			color: #F9804B;
		}
		&:hover {
			color: #F9804B;
		}
	}
	&__close {
		@media (max-width: 999px) {
		 background: url("../img/cross.png")center no-repeat;
		 width: 15px;
		 height: 15px;
		 cursor: pointer;
	}
	}
}

.design {
	
	&__title {
	}
	// .design__link

	&__link {
		font-style: normal;
		font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #FFFFFF;
		@media (max-width: 999px) {
			display: none;
}
		&:hover {
			color: #F9804B;
		}
	}
}

.overlay {
	display: none;
	&_active {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.6);
		transition: 2s;
	}
}




//================================MAIN===========WATCH=============================================================================================================



.watch {
	position: relative;
	margin-top: -80px;
   // margin-bottom: 90px;
   background: url('../img/Giant\ Panda.jpg') center/cover no-repeat;
	@media (max-width: 999px) {
		margin-top: 0px;
	
}
@media (max-width: 390px) {
	margin-top: 34px;
		
	}
		// .watch__container

	&__container {
		max-width: 1160px;
		padding: 166.5px 0 100.5px 0;
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		@media (max-width: 1599px) {
			
			max-width: 1000px;
				
			padding: 122px 30px 45px 30px;
	}
	@media (max-width: 999px) {
			
		max-width: 640px;
			
		padding: 75px 20px 40px 20px;
}
@media (max-width: 639px) {
			
	max-width: 320px;
		
	padding: 60px 10px 40px 10px;
}
@media (max-width: 390px) {
	padding: 20px 10px 42px 10px;
		margin-bottom: 9px;
	}

	}

	// .watch__body

	&__body {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 60px;
	@media (max-width: 1599px) {
	    margin-right: 5px;	
		
	    row-gap: 43px;
}

@media (max-width: 999px) {
	align-items: flex-end;	
	margin-right: 0px;	
   row-gap: 0px;
}
@media (max-width: 639px) {
	
	margin-right: 0px;	
   row-gap: 0px;
}
@media (max-width: 390px) {
	margin-top: 11px;
	margin-right: 4px;	
   
}

	}

	// .watch__text

	&__text {
      max-width: 500px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
		text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      font-size: 106.496px;
      line-height: 75%;
      color: #FFFFFF;
      position: relative;
      z-index: 9;
		@media (max-width: 1599px) {
			font-size: 85px;
			line-height: 75%;
	}
	@media (max-width: 999px) {
		margin: 9px -4px 0 0px;

		max-width: 255px;
		font-size: 54.2894px;
}
@media (max-width: 639px) {
	max-width: 128px;
	font-size: 28px;
}

		
& span {
	   color:#FFEE2E;
}
&::before {
	   content: "";
	   z-index: -1;
	   position: absolute;
      width: 465px;
      height: 465px;
      bottom: 10px;
      right: 108px;
      border-radius: 50%;
      background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
		@media (max-width: 1599px) {
			bottom: 5px;
			right: 140px;
			width: 367px;
          height: 367px;
	}
	@media (max-width: 999px) {
		bottom: 5px;
		right: 57px;
		width: 237px;
          height: 237px;
}
@media (max-width: 639px) {
	bottom: 0px;
	right: 27px;
	width: 119px;
	height: 119px;
}
@media (max-width: 390px) {
	bottom: 4px;
	right: 27px;

}
	}
}

	// .watch__button

	&__button {
		margin-left: 10px;
      width: 298px;
      height: 54px;
      background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
      border-radius: 25px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
		transition: all 1.3s ease 0s;
		cursor: pointer;
		&:hover {
			
			background: linear-gradient(113.96deg, #f15512 1.49%, #f15512 101.44%);
			transition: all 1.3s ease 0s;
		}
		@media (max-width: 1599px) {
			margin-right: 7px;
			letter-spacing: -0.5px;
			
	}
	@media (max-width: 999px) {
		margin-right: 301px;
		margin-top: -8px;
		
}
@media (max-width: 639px) {
	margin-top: 60px;
	margin-right: 0px;
		
   
}
@media (max-width: 390px) {
position: absolute;
bottom: -75px;
	left: 0;
}
	}
}

// ===============================BACKSTAGE======================

.backstage {
padding: 140px 0 0 0;
position: relative;
height: 708px;
margin-bottom: 15px;
@media (max-width: 1599px) {
			
	padding: 110px 0 0 0;
	height: 656px;

}
@media (max-width: 999px) {
	padding: 70px 0 0 0;
	height: 492px;
}
@media (max-width: 390px) {
	padding: 105px 0 0 0;
	height: 507px;
	}

	// .backstage__container

	&__container {
		display: flex;
		justify-content: space-between;
		@media (max-width: 1599px) {
			column-gap: 30px;
			justify-content: center;
				
	
	}
	@media (max-width: 999px) {
		display: block;
		column-gap: 0px;
		justify-content: flex-start;
		
	}
	}
	&__image {
		max-width: 609px;
    max-height: 403px;
	 @media (max-width: 1599px) {
		max-width: 455px;
		max-height: 408px;
}
@media (max-width: 999px) {
	display: none;
	
}
	}
	// .backstage__body

	&__body {

	}

}
.body {
   max-width: 465px;
	@media (max-width: 1599px) {
		margin-top: -9px;
		width: 454px;

		

	}
	@media (max-width: 999px) {
	
		margin-left: 4px;
		
	}
	@media (max-width: 639px) {
	
		width: 300px;
		
	}


	// .body__image

	

	// .body__title-main

	&__title-main {
      font-weight: 400;
      font-size: 48px;
      line-height: 120%;
      color: #333B41;
		margin: 0 0 22px 0;
		@media (max-width: 999px) {
			margin: 0 0 22px 0;
			
		}
		@media (max-width: 639px) {
			font-size: 24px;
			
		}
		@media (max-width: 390px) {
			
			margin: 0 0 10px -4px;
			}
	}

	// .body__text
	&__text-main {
		font-weight: 400;
font-size: 16px;
line-height: 130%;
/* or 21px */


color: #333B41;
margin: 0 0 54px 0;
@media (max-width: 999px) {
	
	margin: 0 0 30px -4px;
}
@media (max-width: 390px) {
			
	margin: 0 0 20px -2px;
	}
	}


	&__title {
		font-weight: 400;
font-size: 24px;
line-height: 120%;
margin: 0 0 32px 0;
/* identical to box height, or 29px */


color: #333B41;
@media (max-width: 1599px) {
	margin: 0 0 34px 0;

	

}
@media (max-width: 999px) {
	margin: 0 0 20px 0;

	

}
@media (max-width: 390px) {
	margin-bottom: 10px;
	margin-left: -2px;
	}
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		/* or 22px */
		
		
		color: #333B41;
		@media (max-width: 999px) {
			margin: 0 0 0px -4px;
		width: 495px;
		line-height: 1.35;
		
		}
		@media (max-width: 639px) {
	
			width: 300px;
			
		}
	}


	// .body__title


}


.flower {
	right: -16px;
	bottom: 90px;
position: absolute;

 width: 220px;
 height: 605px;
 background: url("../img/flower_foto1.png") no-repeat;
 filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 @media (max-width: 1599px) {
			
	display: none;
		

}
@media (max-width: 999px) {
	background: url("../img/flower_foto0000.png") no-repeat;

	right: -88px;
	bottom: -110px;
	display: block;
		

}
@media (max-width: 639px) {
	right: -138px;
	bottom: -140px;
	background: url("../img/flower_foto99999.png") no-repeat;
	
}
@media (max-width: 430px) {
	right: -185px;
	bottom: -125px;
	background: url("../img/flower_foto99999.png") no-repeat;
	
}
}



// ==========================================PETS==============================================



.animals {
	
	position: relative;
	// .animals__container

	&__container {
		@media (max-width: 1599px) {

			}
	}

	// .animals__body

	&__body {
		margin: 0 0 100px 0;
		position: relative;
		@media (max-width: 1599px) {
			margin: 0 0 140px 0;
		}
		@media (max-width: 999px) {
			margin: 0 0 100px 0;
		}
		@media (max-width: 639px) {
			margin: 0 0 60px 0;
		}
		
	}

	&__button {
		width: 298px;
height: 54px;
background: #FE9013;
border-radius: 25px;
font-weight: 500;
font-size: 15px;
line-height: 1.15;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
display: block;
margin: 0 auto;
cursor: pointer;
a {
	font-weight: 500;
	font-size: 15px;
line-height: 1.15;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
&:hover {
			
	background: linear-gradient(113.96deg, #f15512 1.49%, #f15512 101.44%);
	transition: all 1.3s ease 0s;
}
	}
}


.card {
	&__arrow-left {
		content: '';
		position: absolute;
		top: 405px;
		left: -80px;
		bottom: 0px;
		width: 62px;
		height: 62px;
		border-radius: 50%;
		display: inline-block;
		cursor: pointer;
		background: url("../img/left.svg");
   &:hover {
		background: url("../img/green_left.svg");
	}

	@media (max-width: 1599px) {
		top: 366px;
		left: 323px;
		z-index: 2;
		}
		@media (max-width: 999px) {
			top: 344px;
			left: 224px;
		
			}
			@media (max-width: 639px) {
            display: none;
					
				}
	}

	
	&__arrow-right {
		content: '';
		position: absolute;
		top: 405px;
		right: -80px;
		bottom: 0px;
		width: 62px;
		height: 62px;
		cursor: pointer;
		border-radius: 50%;
		background: url("../img/right.svg");
		&:hover {
			background: url("../img/green_right.svg");
		}
		@media (max-width: 1599px) {
			right: 322px;
			top: 368px;
		   z-index: 2;
			}
			@media (max-width: 999px) {
				right: 223px;
				top: 344px;
			
				}
				@media (max-width: 639px) {
            display: none;
					
				}
	}

	&__wrap {
		position: relative;
		display: flex;
		justify-content: center;
	    overflow: hidden;

		height: 950px;
		@media (max-width: 1599px) {
			height: 880px;
			}
			@media (max-width: 999px) {
				height: 815px;
				}
				@media (max-width: 639px) {
					height: 1410px;
					}
	}
    
    
	
	&__items {
		
		max-width: 1158px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 20px;
		margin: 0 0 85px 0;
		transition: 500ms;
		@media (max-width: 1599px) {
			flex-wrap: wrap;
			column-gap: 29px;
			row-gap: 92px;
			margin: 0 0 80px 0;
			}

			@media (max-width: 999px) {
			
				margin: 0 0 60px 0;
				}
				@media (max-width: 639px) {
					row-gap: 22px;
					justify-content: center;
					margin: 0 0 20px 0;
					}
	}
.first1 {
	left: -1160px;
	width: 1158px;
	position: absolute;
	@media (max-width: 1599px) {
		width: 940px;
		}
		@media (max-width: 999px) {
			width: 600px;

			}
		@media (max-width: 639px) {
			width: 600px;
			flex-direction: column;
			}

}
.second2 {
	left: 0px;
	width: 1158px;
	
	position: absolute;
	@media (max-width: 1599px) {
		width: 940px;
		}
		@media (max-width: 999px) {
			width: 600px;
			}
			@media (max-width: 639px) {
				width: 600px;
				flex-direction: column;
				}
}
.third3 {
	left: 1160px;
	width: 1158px;
	position: absolute;
	@media (max-width: 1599px) {
		width: 940px;
		}
		@media (max-width: 999px) {
			width: 600px;
			}
			@media (max-width: 639px) {
				width: 600px;
				flex-direction: column;
				}
}
	// .card__item

	&__item {
		cursor: pointer;
		transition: 0.5s;
// 		&_alligator {
// 			display: none;

// 		}
// 		&:nth-child(1) {
			
// 			@media (max-width: 1599px) {
// 				order: 1;
			
// 				}
// 		}
// 		&:nth-child(2) {
// 			@media (max-width: 1599px) {
// 				order: 2;
			
// 				}
// 		}
// 		&:nth-child(3) {
// 			@media (max-width: 1599px) {
// 				order: 4;
			
// 				}
// 				@media (max-width: 999px) {
// 					order: 3;
				
// 					}
// 		}
// 		&:nth-child(4) {
			
// 			@media (max-width: 1599px) {
// 				display: none;
			
// 				}
// 				@media (max-width: 999px) {
// 					display: none;
				
// 					}
// 		}
// 		&:nth-child(5) {
			
// 			@media (max-width: 1599px) {
// 				order: 3;
			
// 				}
// 				@media (max-width: 999px) {
// 					display: none;
				
// 					}
// 		}
// 		&:nth-child(6) {
// 			@media (max-width: 1599px) {
// 				order: 6;
			
// 				}
// 				@media (max-width: 999px) {
// 					display: none;
				
// 					}
// 		}
// 		&:nth-child(7) {
// display: none;
// 				@media (max-width: 1599px) {
// 					display: block;
// 					order: 5;
// 					}
// 		}



		@media (max-width: 1599px) {
		max-width: 294px;
	
		}
		@media (max-width: 999px) {
			max-width: 285px;
		
			}


		&:hover  .card__bottom  {
  transition: 0.5s;
  transform: translateY(-45px);
  background-color: rgba(255, 255, 255, 0.7);
  color: white;
}
		border: 1px solid #FA6F32;
		border-radius: 5px;

		&:hover {

			img {

			}
			transition: all .4s ease 0s;
        
			border: 1px solid transparent;
		}
		
	}

	// .card__img

	&__img {
		margin: 0 0 8px 0;
		transition: all 1s ease 0s;
		border-radius: 3px;
		background-color:rgba(0, 0, 0, 0);
		width: 100%;
		@media (max-width: 1599px) {
			max-width: 292px;
			margin: 0 0 10px 0;
			}
			@media (max-width: 999px) {
				max-width: 283px;
				margin: 0 0 8px 0px;
				}
				@media (max-width: 390px) {
			
					margin: 0 0 8px 0px;
					}
		&:hover {
			
				transition: 0.3s;
				filter: brightness(55%);
				transform: scale(1.08);
		}
		// &:hover {
		// 	transform: scale(1.08);
		// 	transition: all 1s ease 0s;
			

		// }
	}
	&__bottom {
		transition: 0.5s;
		display: flex;
		align-items: center;
		margin: 0 0 10px 15px;

		@media (max-width: 999px) {
			margin: 0 0 8px 10px;
		
			}
		
		
	}
	
	// .card__body

	&__body {
		width: 305px;
		cursor: pointer;
		@media (max-width: 1599px) {
			width: 231px;
		
			}
			@media (max-width: 1599px) {
				width: 238px;
			
				}
		&_fish {
			width:295px;
			@media (max-width: 1599px) {
				width: 230px;
			
				}
		}
	}

	// .card__title

	&__title {
		font-weight: 500;
font-size: 16px;

/* or 22px */

text-transform: uppercase;

color: #000000;

@media (max-width: 999px) {
	font-size: 12.4695px;

	}
&:hover {
	
	transform: translate(0px, -350px);
	transition: all 1.9s ease 0s;
	font-size: 0px;
}
	}

	// .card__text

	&__text {
		font-weight: 300;
font-size: 15px;
line-height: 120%;
/* identical to box height, or 18px */


color: #000000;
@media (max-width: 999px) {
	font-size: 11.6901px;

	}
	}

	// .card__icon

	&__icon {
		@media (max-width: 1599px) {
			margin-left: -9px;
			width: 33px;
		
			}
		@media (max-width: 999px) {
			margin-left: 0px;
			width: 25.72px;
		
			}
&_meat {

	width: 48px;
	@media (max-width: 1599px) {
		margin-left: -9px;
		margin-top: 1px;
		
	
		}
	@media (max-width: 999px) {
		margin-left: 0px;
		width: 37.41px;
	
		}
}
	}

	
}

.flower-left {
	left: -585px;
	bottom: -100px;
position: absolute;

 width: 880px;
 height: 460px;
	background: url("../img/palm_foto.png") no-repeat;
	@media (max-width: 1599px) {
		width: 386px;
		height: 202px;
		left: -192px;
		bottom: -140px;
		background: url("../img/palm_fotosmall.png") no-repeat;
		}
		@media (max-width: 999px) {

			left: -252px;
			bottom: -100px;
		
			}
			@media (max-width: 639px) {
				width: 138px;
				height: 72px;
				left: -80px;
				bottom: -60px;
				background: url("../img/palm_foto999.png") no-repeat;
			
				}

}
	.flower-right{
		right: 0;
		bottom: -100px;
	position: absolute;
	
	 width: 368px;
	 height: 275px;
		background: url("../img/strelitzia\ 1.png") no-repeat;
		@media (max-width: 1599px) {
			width: 241px;
			height: 180px;
			right: 0;
			bottom: -140px;
			background: url("../img/strelitziasmall.png") no-repeat;
			}
			@media (max-width: 999px) {
				width: 175px;
				height: 131px;
				right: 0;
				bottom: -100px;
				background: url("../img/strelitziatable.png") no-repeat;
				}
				@media (max-width: 639px) {
					width: 85px;
					height: 71px;
					bottom: -60px;
					right: 0;
					background: url("../img/strelitzia999.png") no-repeat;
				
					}
					@media (max-width: 390px) {
				
						bottom: -63px;
						right: -17px;
						
					
						}
	}

// ====================================PICK===============================

.pick {
	position: relative;

	background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
	opacity: 0.9;
	padding: 69px 0 100px 0;
	margin: 0 0 140px 0;
	@media (max-width: 1599px) {
		padding: 30px 0 50px 0;
		margin: 0 0 100px 0;
		}
		@media (max-width: 999px) {
			padding: 20px 0 20px 0;
			margin: 0 0 60px 0;
			}
			@media (max-width: 639px) {
				padding: 20px 0 20px 0;
				margin: 0 0 30px 0;
				}
	// .pick__container

	&__container {
		@media (max-width: 999px) {
			padding: 0px 0 0px 0;
			
			}
			@media (max-width: 639px) {
				max-width: 300px;
				
				}

	 
	}


	&__body {
		
		background: rgba(253, 253, 255, 0.52);
		border-radius: 20px;
		display: flex;
    flex-direction: column;
	 @media (max-width: 999px) {
		padding: 0px 20px;
		
		}
		@media (max-width: 639px) {
			padding: 0px 10px;
			height: 1042px;
			}
	}

	// .pick__title

	&__title {
		font-weight: 400;
		font-size: 48px;
		line-height: 120%;
		text-align: center;
		color: #FE9013;
		margin: 39px 0 30px 0;
		@media (max-width: 1599px) {
			margin: 32px 0 20px 0;
			}
			@media (max-width: 999px) {
				margin: 10px 0 20px 0;
				font-size: 42px;
				}
				@media (max-width: 639px) {
					font-size: 24px;
					}
					@media (max-width: 390px) {
						margin: 20px 0 10px 0;
						}
	}

	// .pick__subtutle

	&__subtitle {
		font-weight: 400;
		font-size: 24px;
		line-height: 120%;
		color: #333B41;
		text-align: start;
		margin-left: 8.5%;
		margin-bottom: 42px;
		@media (max-width: 1599px) {
			margin-left: 50px;
			margin-bottom: 20px;
			
			}
			@media (max-width: 999px) {
				font-size: 22px;
				margin-left: 0px;
				}
				@media (max-width: 639px) {
					text-align: center;
					font-size: 18px;
					}
	}

	// .pick__text

	&__text {
		display: block;
    line-height: 130%;
    margin-left: 8.5%;
    margin-bottom: 27px;
	 @media (max-width: 1599px) {
		margin-left: 50px;
		max-width: 800px;
		line-height: 1.15;
		margin-bottom: 3px;
		}
		@media (max-width: 999px) {
			
			margin-left: 0px;
			}
			@media (max-width: 639px) {
				display: none;
				}
	}

	// .pick__text-medium

	&__text-medium {
		display: block;
		font-weight: 500;
		margin-bottom: 14px;
		line-height: 120%;
/* identical to box height, or 21px */


color: #333B41;
@media (max-width: 1599px) {
	
	line-height: 1.25;
	
	}
	@media (max-width: 999px) {
	
		margin-bottom: 11px;
		
		}
	}

	// .pick__text-regular

	&__text-regular {
		display: block;
		font-weight: 400;
		margin-right: 18%;
		line-height: 1.15;
    margin-bottom: 36px;
color: #333B41;
@media (max-width: 1599px) {
	margin-right: 0;
	line-height: 1.25;
	}
	@media (max-width: 999px) {
		margin-bottom: 28px;
		}
	}

	// .pick__underline

	&__underline {
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
		/* or 21px */
		
		
		color: #333B41;
		border-bottom: 1px solid #FE9013;
	}

	// .pick__title-h3

	&__title-h3 {
		font-weight: 400;
		font-size: 36px;
		line-height: 130%;
		color: #333B41;
		text-align: center;
		margin-bottom: 40px;
		@media (max-width: 999px) {
			margin-bottom: 20px;
			}
			@media (max-width: 639px) {
				font-size: 24px;
				}
	}

	// .pick__cards

	&__cards {
		margin-bottom: 60px;
		@media (max-width: 1599px) {
			margin-bottom: 70px;
		}
		@media (max-width: 999px) {
			margin-bottom: 39px;
			}
			@media (max-width: 639px) {
				margin-bottom: 39px;
				}
	}

	// .pick__arrow

	

	// .pick__button

	&__button {
		text-align: center;
		line-height: 1.15;
		margin-bottom: 59px;
		@media (max-width: 1599px) {
			margin-bottom: 50px;
		}
		@media (max-width: 999px) {
			margin-bottom: 60px;
		}
		@media (max-width: 639px) {
			margin-bottom: 40px;
		}

	}

	// .pick__btn

	&__btn {
		font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;
text-transform: uppercase;
cursor: pointer;
color: #FFFFFF;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
width: 298px;
height: 54px;
@media (max-width: 999px) {
	font-size: 15px;
}
@media (max-width: 999px) {
	width: 300px;
	
}
@media (max-width: 639px) {
	margin-left: -10px;
	
}



&:hover {
			
	background: linear-gradient(113.96deg, #f15512 1.49%, #f15512 101.44%);
	transition: all 1.3s ease 0s;
}
	}


}
.items {
	position: relative;
	height: 244px;
	display: flex;
	// align-items: center;
	// align-self: center;
	padding: 0;
	gap: 30px;
	justify-content: center;
	@media (max-width: 999px) {
		gap: 42px;
		margin-right: 10px;

	
	}
	@media (max-width: 639px) {
		height: 720px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	row-gap: 20px;
	margin-right: 0px;

	}

	// .items__card

	&__item {
		width: 168px;
		
	}

	// .items__icon

	&__image {


	}

&__image_pay {
	// width: 168px;
	height: 168px;
	border: 1px solid #F9804B;
	border-radius: 5px;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: 639px) {
		margin-bottom: 10px;
		}

	// background: url("../img/pay.svg") #FFFFFF no-repeat center;
}


&__image_zoo {
	// width: 168px;
	height: 168px;
	border: 1px solid #F9804B;
	border-radius: 5px;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: 639px) {
		margin-bottom: 10px;
		}
		
	// background: url("../img/zoo.svg") #FFFFFF no-repeat center;
}



&__image_monkey {
	// width: 168px;
	height: 168px;
	border: 1px solid #F9804B;
	border-radius: 5px;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: 639px) {
		margin-bottom: 10px;
		}
	// background: url("../img/monkey.svg") #FFFFFF no-repeat center;
}


&__img{


}
	// .items__text

	&__text {
		line-height: 1.30;
	}
	&__arrow-gr1 {
		display: block;
		background: url("../img/arrow.png") no-repeat;
		width: 69px;
		height: 38px;
		margin-top: 57px;
		@media (max-width: 1599px) {
			margin-top: 61px;
			
		}
		@media (max-width: 999px) {
       position: absolute;
		 width: 90px;
		 top: -78px;
		 left: 140px;
		 background: url("../img/arrowgreen.png") no-repeat;
			
		}
		@media (max-width: 639px) {
			top: 125px;
			left: 192px;
			transform: rotate(85deg);
			}
	}
	&__arrow-gr2 {
		display: block;
		background: url("../img/arrow.png")no-repeat ;
		width: 69px;
		height: 38px;
		margin-top: 57px;
		@media (max-width: 1599px) {
			margin-top: 61px;
			
		}
		@media (max-width: 999px) {
         position: absolute;
			width: 90px;
			top: -78px;
			right: 150px;
		
			background: url("../img/arrowgreen.png") no-repeat;
		}
		@media (max-width: 639px) {
			top: 370px;
			right: 0px;
			transform: rotate(85deg);
			}
	}
	// .items__item

	&__item {
	}
}



// ======================================================TESTIMONIALS=============================================


.testimonials {
	position: relative;
	height: 775px;
	@media (max-width: 1599px) {
		height: 742px;
		
	}
	@media (max-width: 999px) {
		margin-bottom: 30px;
		height: 577px;
	}
	@media (max-width: 639px) {
		margin-bottom: 0px;
	 	
	 }
	 @media (max-width: 390px) {
		height: 550px;
	 	
	 }
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: hidden;
		@media (max-width: 1599px) {
			
			
		}
	}
&__title {


font-weight: 400;
font-size: 36px;
line-height: 130%;
/* identical to box height, or 47px */



color: #333B41;
margin-bottom: 44px;

@media (max-width: 1599px) {
	margin-bottom: 30px;
	
}
@media (max-width: 639px) {
	font-size: 24px;
	margin-bottom: 20px;
	
}
}
&__crdblock {
	background-color: #F5F7F6;
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 400px;
	height: 530px;
	z-index: 31;
	justify-content: end;
	padding-right: 10px;
	padding-top: 10px;
	border-radius: 3%;
	.close-3 {
		background: url("../img/x_icon.png") no-repeat;
		background-size: 20px 20px;
		width: 20px;
		height: 20px;
		cursor: pointer;
	}
}
&__crdblock-active {
	display: flex;
	@media (max-width: 639px) {
		width: 280px;
		height: 410px;
		
	}

}
	// .testimonials__item

	&__item {
		width: 268px;
		height: 391px;
		border: 2px solid transparent;
		background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
		box-shadow: inset 0px 0px 0px 100vw #f1f3f2;
		border-radius: 20px;
		padding: 13px;
		cursor: pointer;
		@media (max-width: 1599px) {
			width: 294px;
			
		}
		@media (max-width: 999px) {
			width: 600px;
			height: 109px;
		   padding-left: 10px;
			
		}
		@media (max-width: 639px) {
			width: 300px;
			height: 109px;
		   
		}
		@media (max-width: 390px) {
		padding-top: 6px;
		   
		}

		&:nth-child(4) {
			@media (max-width: 999px) {
			display: none;
				
			}
		  }
		  &:nth-child(5) {
			@media (max-width: 999px) {
			display: none;
				
			}
		  }
		  &:nth-child(6) {
			@media (max-width: 999px) {
			display: none;
				
			}
		  }
		  &:nth-child(7) {
			@media (max-width: 999px) {
			display: none;
				
			}
		  }
		  &:nth-child(8) {
			@media (max-width: 999px) {
			display: none;
				
			}
		  }
		  &:nth-child(9) {
			@media (max-width: 999px) {
			display: none;
				
			}
		  }
		  &:nth-child(10) {
			@media (max-width: 999px) {
			display: none;
				
			}
		  }
		  &:nth-child(11) {
			@media (max-width: 999px) {
			display: none;
				
			}
		  }
	}
	&__item_active {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		transform: scale(1.2);
		transition: 1s;
		z-index: 32;
		overflow-y: scroll;
		@media (max-width: 999px) {
			width: 247px;
			height: 360px;
			
		}
		@media (max-width: 639px) {
			width: 200px;
			height: 300px;
			transform: scale(1.1);
		}
  }

	// .testimonials__items

	&__items {
     display: flex;
	  column-gap: 30px;
	 
	  margin: 0 auto;
	  margin-bottom: 22px;
	  transition: all 1s ease 0s;
	  @media (max-width: 1599px) {
		margin-bottom: 19px;
		
		
	}
	@media (max-width: 999px) {
		flex-direction: column;
		column-gap: 0px;
		row-gap: 15px;
	}
	}

	&__scroll {
		display: block;
		margin-bottom: 30px;
		width: 599px;
		height: 8px;
		background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
      border-radius: 5px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	
color: #F5F7F6;
@media (max-width: 1599px) {
	width: 390px;
	margin-right: 10px;
	margin-bottom: 52px;
}
@media (max-width: 999px) {
	display: none;
	
	}
	}


	input[type=range] {
		height: 9px;
		-webkit-appearance: none;
		@media (max-width: 1599px) {
			height: 8px;
		
		}
	
	 }

	 input[type=range]::-webkit-slider-runnable-track {
		width: 100%;
		height: 7px;
		cursor: pointer;
		animate: 0.2s;
		background: #F5F7F6;
		border-radius: 5px;
		@media (max-width: 1599px) {
			height: 6px;
			
		}
		
	 }
	 input[type=range]::-webkit-slider-thumb {
	
	
		height: 7px;
		width: 71.88px;
		border-radius: 5px;
		background: #FE9013;
		cursor: pointer;
		-webkit-appearance: none;
		@media (max-width: 1599px) {
			height: 6px;
			width: 75px;
		}
		&:hover {
			
			background: linear-gradient(113.96deg, #f15512 1.49%, #f15512 101.44%);
			transition: all 1.3s ease 0s;
		}
		
	 }
	 input[type=range]:focus::-webkit-slider-runnable-track {
		background: #F5F7F6;
	 }
	 input[type=range]::-moz-range-track {
		width: 100%;
		height: 7px;
		cursor: pointer;
		animate: 0.2s;
		box-shadow: 1px 1px 1px #000000;
		background: #F5F7F6;
		border-radius: 5px;
		border: 1px solid #000000;
	 }

	&__btn {
		width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: 0px;
    color: #FFFFFF;
	 align-self: flex-start;
    border-radius: 5px;
	 font-weight: 500;
font-size: 15px;
line-height: 1.15;
/* or 22px */
cursor: pointer;
text-align: center;
text-transform: uppercase;
@media (max-width: 999px) {
	width: 240px;
	align-self: center;
	margin-top: 20px;
	
	}
	@media (max-width: 639px) {
		margin-top: 10px;
		
		}
&:hover {
			
	background: linear-gradient(113.96deg, #f15512 1.49%, #f15512 101.44%);
	transition: all 1.3s ease 0s;
}
	}
	
}

	// .testimonialss__container

.item-testimonials {
    display: flex;
    flex-direction: column;
	 background: #F1F3F2;
	 overflow: hidden;

	 &__body {
		display: flex;

	 }
  &__icon {
	width: 37px;
	height: 37px;
	margin-right: 10px;
	margin-bottom: 11px;
	@media (max-width: 390px) {
		margin-right: 7px;
		   
		}
  }
    
	// .item-testimonials__icon



	// .item-testimonials__title

	&__title {
		font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */


color: #000000;

	}

	// .item-testimonials__subtitle

	&__subtitle {
		font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
display: block;
/* identical to box height, or 18px */


/* Gray 4 */

color: #BDBDBD;
	}

	// .item-testimonials__text

	&__text {
		font-weight: 300;
		font-size: 15px;
		line-height: 120%;
		color: #767474;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 17;
		-webkit-box-orient: vertical;
		@media (max-width: 1599px) {
			-webkit-line-clamp: 16;
			width: 251px;
		}
		@media (max-width: 999px) {
			margin-left: 5px;
			width: 555px;
			-webkit-line-clamp: 2;
		}
		@media (max-width: 999px) {
			margin-left: 5px;
			// width: 255px;
			-webkit-line-clamp: 2;
		}
	}
	&__text_active {
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 15px;
		line-height: 120%;
		color: #767474;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 17;
		-webkit-box-orient: vertical;
		display: block;
		@media (max-width: 999px) {
        display: flex;
		  width: auto;
		}
  }
}

.flower-last {
	right: -123px;
	bottom: 0px;
position: absolute;
z-index: -5;
 width: 368px;
 height: 275px;
	background: url("../img/leav_foto.png") no-repeat;
	@media (max-width: 1599px) {
		background: url("../img/leav_small.jpg") no-repeat;
		right: -172px;
		bottom: -38px;
	}
	@media (max-width: 999px) {
		background: url("../img/leav_fototabl.jpg") no-repeat;
		right: -253px;
		bottom: -171px;
	}
	@media (max-width: 639px) {
		background: url("../img/leav_foto999.jpg") no-repeat;
		right: -320px;
		bottom: -211px;
	}
}



// ===================================================FOOTER==========================================

.footer {
	background: #111115;
	
	// .footer__container

	&__container {
		@media (max-width: 1599px) {
padding: 0 30px;
		}
		@media (max-width: 999px) {
			padding: 0 20px;
					}
					@media (max-width: 639px) {
						padding: 0 10px;
								}
	}

	&__body {
		display: flex;
    padding: 43px 0;
	 max-width: 100%;
	 @media (max-width: 1599px) {
		max-width: 939px;
				}
				@media (max-width: 999px) {
					flex-direction: column;
				   row-gap: 25px;
					padding: 13px 0;
							}
							@media (max-width: 639px) {
							position: relative;
										}
										@media (max-width: 390px) {
											padding: 21px 0;
											row-gap: 0px;
														}
	}

	// .footer__contacts

	&__contacts {
		display: flex;
		flex-direction: column;
		@media (max-width: 1599px) {
			max-width: 298px;
					}
					@media (max-width: 999px) {
						flex-direction: row;
						
								}
								@media (max-width: 639px) {
								
									flex-direction: column;

										}
	}
	&__resp {
		display: flex;
		flex-direction: column;
		@media (max-width: 639px) {
        &:nth-child(1) {
			order: 2;
		  }
		
		}
		@media (max-width: 390px) {
		row-gap: 22px;
	}
	}

	// .footer__logo

	&__logo {

	}

	// .footer__button

	&__button {


	}

	&__btn {
		width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: 0px;
    color: #FFFFFF;
	 align-self: flex-start;
    border-radius: 5px;
	 font-weight: 500;
font-size: 15px;
line-height: 1.15;
/* or 22px */
cursor: pointer;
text-align: center;
text-transform: uppercase;
margin-bottom: 49px;
@media (max-width: 1599px) {
	margin-bottom: 45px;
			}
			@media (max-width: 390px) {
				margin-bottom: 30px;
						}
&:hover {
			
	background: linear-gradient(113.96deg, #f15512 1.49%, #f15512 101.44%);
	transition: all 1.3s ease 0s;
}
	}
	&__nav-resp {
		display: flex;
		justify-content: space-between;
		@media (max-width: 1599px) {
			display: flex;
			justify-content: space-between;
			
					}
					@media (max-width: 639px) {
		        flex-direction: column-reverse;
				  align-items: flex-end;
				  &:nth-child(2) {
					order: 1;
				  }
		
					}
					@media (max-width: 390px) {
			        
						row-gap: 25px;
								}
		
	}
	// .footer__navigation

	&__navigation {
		
	}

	// .footer__form

	&__form {
	}

	// .footer__design

	&__design {
		align-self: flex-end;
    margin-top: 217px;
    color: white;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
	 font-family: 'Roboto';
font-style: normal;
&_resp {
	display: none;
	color: white;
	font-weight: 100;
	font-size: 16px;
	line-height: 130%;
	font-family: 'Roboto';
font-style: normal;
@media (max-width: 999px) {
	margin-bottom: 7px;
	display: block;
			}
			@media (max-width: 390px) {
				margin-bottom: 7px;
				display: block;
				
				font-size: 15px;
						}
}
@media (max-width: 1599px) {
	margin-right: -30px;
	margin-top: 220px;
			}
			@media (max-width: 999px) {
			  
				margin-right: 0px;
				margin-top: 0px;
						}


	}

	// .footer__text

	&__text {
		margin-bottom: 9px;
	}
}
.logotip {
position: relative;
margin-bottom: 68px;
@media (max-width: 999px) {
	margin-bottom: 33px;
			}

	&__text {
		 width: 82px;
	 height: 52px;
		font-weight: 400;
		font-size: 19.0145px;
		line-height: 120%;
		/* or 23px */
		
		text-align: center;
		
		color: #FFFFFF;
		
		border: 1.18841px solid #FFFFFF;
		@media (max-width: 639px) {
			margin: 0 auto;
			width: 128px;
			border: none;
					}
		

	}

	// .logotip__img

	&__img {
		position: absolute;
		left: 10px;
		top: 20px;
		@media (max-width: 639px) {
			left: 157px;
			top: -3px;
				}
	}
}
.btn {

}
.media {

	@media (max-width: 999px) {
		display: flex;
		flex-direction: column;
margin-left: 276px;
row-gap: 10px;

			}
			@media (max-width: 639px) {
				position: absolute;
				margin-left: 0px;
			    top: 50px;
				 left: 50px;
				flex-direction: row;
			column-gap: 30px;
					}
					@media (max-width: 390px) {
						position: absolute;
						margin-left: 0px;
						 top: 72px;
						 left: 53px;
						flex-direction: row;
					column-gap: 30px;
							}
	.media__link {
		display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
	 
	 @media (max-width: 999px) {
			font-size: 0px;
	
				}
	 &:hover {
		transition: all 0.0s ease 0s;
	
		color: #F9804B;
	}
  }
  .media__fb::before {
	display: inline-block;
	content: '';
	background: url("../img/face.svg");
	width: 26px;
	height: 26px;
	margin-right: 12px;
	@media (max-width: 999px) {
		margin-right: 0px;

			}
}
.media__tw::before {
	display: inline-block;
	content: '';
	background: url("../img/tw.svg");
	width: 26px;
	height: 26px;
	margin-right: 12px;
	@media (max-width: 999px) {
		margin-right: 0px;

			}
}
.media__ig::before {
	display: inline-block;
	content: '';
	background: url("../img/inst.svg");
	width: 26px;
	height: 26px;
	margin-right: 12px;
	@media (max-width: 999px) {
		margin-right: 0px;

			}
}
.media__yt::before {
	display: inline-block;
	content: '';
	background: url("../img/yu.svg");
	width: 26px;
	height: 26px;
	margin-right: 12px;
	@media (max-width: 999px) {
		margin-right: 0px;

			}
}



	// .media__twitter

	
}
.nav {
	align-self: flex-end;
    margin-left: 103px;
    margin-bottom: 19px;
    flex-grow: 0;
	 @media (max-width: 1599px) {
		margin-left: -7px;
		margin-bottom: 10px;
				}
				@media (max-width: 999px) {
					
					margin-bottom: 6px;
					margin-left: 0px;
					
							}
							

	// .nav__menu

	&__menu {
		display: flex;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.15;
		
			justify-content: space-between;
			
			gap: 58px;

		
		
		color: #FFFFFF;
		@media (max-width: 1599px) {
			gap: 48px;
			width: 332px;
					}
					@media (max-width: 999px) {
						width: 300px;
						gap: 0px;
						
								}
								@media (max-width: 390px) {
									justify-content: space-around;
									
											}
								
	}

	// .nav__li

	&__li {
		
		// .nav__li_about

		&_about {
			
			a {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 140%;
				/* or 22px */
				
				
				color: #F9804B;
				
			}
		}

		// .nav__li_map

		&_map {
			cursor: pointer;
			transition: all 0.0s ease 0s;
			&:hover {
				transition: all 0.0s ease 0s;
				transform: scale(1.2);
				color: #F9804B;
			}
		}

		// .nav__li_zoos

		&_zoos {
			cursor: pointer;
			transition: all 0.0s ease 0s;
			&:hover {
				transition: all 0.0s ease 0s;
				transform: scale(1.2);
				color: #F9804B;
			}
		}

		// .nav__li_contact-us

		&_contact-us {
			cursor: pointer;
			transition: all 0.0s ease 0s;
			&:hover {
				transition: all 0.0s ease 0s;
				transform: scale(1.2);
				color: #F9804B;
			}
		}
	}

	// .nav__about

	&__about {
		
	}
}
.form {
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	@media (max-width: 1599px) {
		margin-left: -81px;
				}
				@media (max-width: 999px) {
					display: none;
							}
	// .form__title

	&__title {
		font-weight: 400;
		font-size: 24px;
		line-height: 120%;
		color: #FFFFFF;
		margin-bottom: 14px;
		@media (max-width: 1599px) {
			margin-bottom: 13px;
					}
	}

	// .form__body

	&__body {
		display: flex;
	}

	// .form__input

	&__input {
		color: white;
    width: 228px;
    height: 40px;
    border-radius: 2px;
    border: 0.7px solid #F9804B;
    background: none;
    padding: 0 10px;
    margin-right: 10px;
    outline: none;

&:valid:focus {
    border: 0.7px solid #4B9200;
}

&:invalid:focus {
    border: 0.7px solid #D31414;
}
	 &::placeholder {
		font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


/* Gray 4 */

color: #BDBDBD;
	 }
	}

	// .form__btn

	&__btn {
		width: 128px;
    height: 40px;
    background: #F1F3F2;
	 border: 1px solid #4B9200;
    border-radius: 5px;
    color: #4B9200;
    cursor: pointer;
	
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		/* or 22px */


	 
	}
	input:valid:focus + .form__btn {
		border: 1px solid #4B9200;
		color: green;
  }
  
  input:invalid:focus + .form__btn {
		border: 1px solid #D31414;
		color: #D31414;
  }
}







/* Условные ПК, ноуты и телевизоры */
/* 1050 из макета (контейнер + отступы) */
@media (max-width: 1050px) {
}
/* Условные планшеты */
@media (max-width: 991.98px) {
}
/* Условные мобилки */
@media (max-width: 767.98px) {
}

/* №1 */
@media (max-width: 1050px) {
	[class*="__container"] {
		/* max-width: 970px; */
	}
}
/* №2 */
@media (max-width: 991.98px) {
	[class*="__container"] {
		/* max-width: 750px; */
	}
}
/* №3 */
@media (max-width: 767.98px) {
	[class*="__container"] {
		/* max-width: none; */
	}
}






 





















