/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
@import "_null";






body {
	background-color: #FFFFFF;
	line-height: 1;
	font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}


/* ------------------------------ */

[class*="__container"] {
	max-width: 1190px;
	margin: 0px auto;
	padding: 0px 15px;
}


//   ._ibg {
//   	position: relative;
//   	img {  		object-fit: cover;
//   		 position: absolute;
//   		width: 100%;
//   		height: 100%;
//   		top: 0;
//   		left: 0;
//   	}
//   }

.main {
	flex: 1 1 auto;
	
 }

// ==============================HEADER==============================




.header {
background-color: #000000;
z-index: 1;
	&__container {
	}

	// .header__body

	&__body {
		height: 80px;
		display: flex;
      align-items: center;
	}

	// .header__logo

	&__logo {
		width: 82px;
      height: 52px;
      left: 0px;
      top: 0px;
      border: 1px solid #FFFFFF;
      border-radius: 2px;
		position: relative;
	}

	// .header__menu

	&__menu {
		flex: 1 1 auto;
	}

	// .header__design

	&__design {
	}
}

.logo {

	// .logo__link

	&__link {
	}

	// .logo__img

	&__title {
		margin-top: 5px;
		font-weight: 400;
      font-size: 19.0145px;
      line-height: 120%;
      text-align: center;
      color: #FFFFFF;
	}

	&__img {
		position: absolute;
      left: 11px;
      top: 23px;
	}
}

.menu {

	// .menu__body

	&__body {
	}

	// .menu__list

	&__list {
		display: flex;
		flex: 1 0 auto;
		margin-left: 63px;
		column-gap: 58px;
	}

	// .menu__item

	&__item {
		font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
		transition: all 0.0s ease 0s;
		&:hover {
			transition: all 0.0s ease 0s;
			transform: scale(1.2);
			color: #F9804B;
		}
		&_about{
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 140%;
		}
	}

	// .menu__link

	&__link {
		color: #FFFFFF;
		&_about {
			color: #F9804B;
		}
		&:hover {
			color: #F9804B;
		}
	}
}


.design {
	
	&__title {
	}
	// .design__link

	&__link {
		font-style: normal;
		font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #FFFFFF;
	}
}



//================================MAIN===========WATCH=============================================================================================================
.watch {
	position: relative;
	margin-top: -80px;
   // margin-bottom: 90px;
   background: url('../img/Giant\ Panda.jpg') center/cover no-repeat;
	
		// .watch__container

	&__container {
		max-width: 1160px;
		padding: 166.5px 0 100.5px 0;
		display: flex;
		align-items: flex-end;
		flex-direction: column;
	}

	// .watch__body

	&__body {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 60px;
	}

	// .watch__text

	&__text {
      max-width: 500px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
		text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      font-size: 106.496px;
      line-height: 75%;
      color: #FFFFFF;
      position: relative;
      z-index: 9;
& span {
	   color:#FFEE2E;
}
&::before {
	   content: "";
	   z-index: -1;
	   position: absolute;
      width: 465px;
      height: 465px;
      bottom: 10px;
      right: 108px;
      border-radius: 50%;
      background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
	}
}

	// .watch__button

	&__button {
		margin-left: 10px;
      width: 298px;
      height: 54px;
      background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
      border-radius: 25px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
		transition: all 1.3s ease 0s;
		&:hover {
			
			background: linear-gradient(113.96deg, #f15512 1.49%, #f15512 101.44%);
			transition: all 1.3s ease 0s;
		}
	}
}

// ===============================BACKSTAGE======================

.backstage {
padding: 140px 0 0 0;
position: relative;
height: 708px;
margin-bottom: 15px;
	// .backstage__container

	&__container {
		display: flex;
		justify-content: space-between
	}
	&__image {
		max-width: 609px;
    max-height: 403px;
	}
	// .backstage__body

	&__body {
	}

}
.body {
   max-width: 465px;
	
	// .body__image

	

	// .body__title-main

	&__title-main {

font-weight: 400;
font-size: 48px;
line-height: 120%;
/* or 58px */


color: #333B41;
margin: 0 0 22px 0;
	}

	// .body__text
	&__text-main {
		font-weight: 400;
font-size: 16px;
line-height: 130%;
/* or 21px */


color: #333B41;
margin: 0 0 54px 0;
	}

	&__title {
		font-weight: 400;
font-size: 24px;
line-height: 120%;
margin: 0 0 32px 0;
/* identical to box height, or 29px */


color: #333B41;
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		/* or 22px */
		
		
		color: #333B41;
		
	}


	// .body__title


}


.flower {
	right: -16px;
	bottom: 90px;
position: absolute;

 width: 220px;
 height: 605px;
 background: url("../img/flower_foto1.png") no-repeat;
 filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



// ==========================================PETS==============================================



.animals {
	
	position: relative;
	// .animals__container

	&__container {
		
		
	}

	// .animals__body

	&__body {

		margin: 0 0 100px 0;
		position: relative;
		

		
	}

	&__button {
		width: 298px;
height: 54px;
background: #FE9013;
border-radius: 25px;
font-weight: 500;
font-size: 15px;
line-height: 1.15;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
display: block;
margin: 0 auto;
&:hover {
			
	background: linear-gradient(113.96deg, #f15512 1.49%, #f15512 101.44%);
	transition: all 1.3s ease 0s;
}
	}
}


.card {
	&__arrow-left {
		content: '';
		position: absolute;
		top: 405px;
		left: -80px;
		bottom: 0px;
		width: 62px;
		height: 62px;
		border-radius: 50%;
		display: inline-block;
		background: url("../img/left.svg");
   &:hover {
		background: url("../img/green_left.svg");
	}
	}

	
	&__arrow-right {
		content: '';
		position: absolute;
		top: 405px;
		right: -80px;
		bottom: 0px;
		width: 62px;
		height: 62px;
		border-radius: 50%;
		background: url("../img/right.svg");
		&:hover {
			background: url("../img/green_right.svg");
		}
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 20px;
		margin: 0 0 85px 0;
	}
	// .card__item

	&__item {
		transition: 0.5s;
		&:hover  .card__bottom  {
  transition: 0.5s;
  transform: translateY(-45px);
  background-color: rgba(255, 255, 255, 0.7);
  color: white;
}
		border: 1px solid #FA6F32;
		border-radius: 5px;

		&:hover {

			img {

			}
			transition: all .4s ease 0s;
         
			border: 1px solid transparent;
		}
		
	}

	// .card__img

	&__img {
		margin: 0 0 8px 0;
		transition: all 1s ease 0s;
		background-color:rgba(0, 0, 0, 0);
		&:hover {
			
				transition: 0.3s;
				filter: brightness(55%);
				transform: scale(1.08);
		}
		// &:hover {
		// 	transform: scale(1.08);
		// 	transition: all 1s ease 0s;
			

		// }
	}
	&__bottom {
		transition: 0.5s;
		display: flex;
		align-items: center;
		margin: 0 0 10px 15px;

		
		
	}
	// .card__body

	&__body {
		width: 305px;
		cursor: pointer;

		&_fish {
			width:295px;
		}
	}

	// .card__title

	&__title {
		font-weight: 500;
font-size: 16px;

/* or 22px */

text-transform: uppercase;

color: #000000;
&:hover {
	
	transform: translate(0px, -350px);
	transition: all 1.9s ease 0s;
	font-size: 0px;
}
	}

	// .card__text

	&__text {
		font-weight: 300;
font-size: 15px;
line-height: 120%;
/* identical to box height, or 18px */


color: #000000;
	}

	// .card__icon

	&__icon {

	}

	
}

.flower-left {
	left: -585px;
	bottom: -100px;
position: absolute;

 width: 880px;
 height: 460px;
	background: url("../img/palm_foto.png") no-repeat;

}
	.flower-right{
		right: 0;
		bottom: -100px;
	position: absolute;
	
	 width: 368px;
	 height: 275px;
		background: url("../img/strelitzia\ 1.png") no-repeat;

	}



// ====================================PICK===============================



.pick {
	background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
	opacity: 0.9;
	padding: 69px 0 100px 0;
	margin: 0 0 140px 0;
	// .pick__container

	&__container {
		

	 
	}


	&__body {
		background: rgba(253, 253, 255, 0.52);
		border-radius: 20px;
		display: flex;
    flex-direction: column;
	}

	// .pick__title

	&__title {
		font-weight: 400;
		font-size: 48px;
		line-height: 120%;
		text-align: center;
		color: #FE9013;
		margin: 39px 0 30px 0;
	}

	// .pick__subtutle

	&__subtitle {
		font-weight: 400;
		font-size: 24px;
		line-height: 120%;
		color: #333B41;
		text-align: start;
		margin-left: 8.5%;
		margin-bottom: 42px;
	}

	// .pick__text

	&__text {
		display: block;
    line-height: 130%;
    margin-left: 8.5%;
    margin-bottom: 27px;
	}

	// .pick__text-medium

	&__text-medium {
		display: block;
		font-weight: 500;
		margin-bottom: 14px;
		line-height: 120%;
/* identical to box height, or 21px */


color: #333B41;

	}

	// .pick__text-regular

	&__text-regular {
		display: block;
		font-weight: 400;
		margin-right: 18%;
		line-height: 1.15;
    margin-bottom: 36px;
color: #333B41;

	}

	// .pick__underline

	&__underline {
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
		/* or 21px */
		
		
		color: #333B41;
		border-bottom: 1px solid #FE9013;
	}

	// .pick__title-h3

	&__title-h3 {
		font-weight: 400;
		font-size: 36px;
		line-height: 130%;
		color: #333B41;
		text-align: center;
		margin-bottom: 40px;
	}

	// .pick__cards

	&__cards {
		margin-bottom: 60px;
	}

	// .pick__arrow

	

	// .pick__button

	&__button {
		text-align: center;
		line-height: 1.15;
		margin-bottom: 59px;
	}

	// .pick__btn

	&__btn {
		font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
width: 298px;
height: 54px;
&:hover {
			
	background: linear-gradient(113.96deg, #f15512 1.49%, #f15512 101.44%);
	transition: all 1.3s ease 0s;
}
	}
}
.items {
	height: 244px;
	display: flex;
	// align-items: center;
	// align-self: center;
	padding: 0;
	gap: 30px;
	justify-content: center;
   
	// .items__card

	&__item {
		width: 168px;
		
	}

	// .items__icon

	&__image {


	}

&__image_pay {
	// width: 168px;
	height: 168px;
	border: 1px solid #F9804B;
	border-radius: 5px;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	// background: url("../img/pay.svg") #FFFFFF no-repeat center;
}


&__image_zoo {
	// width: 168px;
	height: 168px;
	border: 1px solid #F9804B;
	border-radius: 5px;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	// background: url("../img/zoo.svg") #FFFFFF no-repeat center;
}



&__image_monkey {
	// width: 168px;
	height: 168px;
	border: 1px solid #F9804B;
	border-radius: 5px;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	// background: url("../img/monkey.svg") #FFFFFF no-repeat center;
}


&__img{


}
	// .items__text

	&__text {
		line-height: 1.30;
	}
	&__arrow {
		display: block;
		background: url("../img/arrow.png");
		width: 69px;
		height: 35px;
		margin-top: 57px;
	}
	// .items__item

	&__item {
	}
}

// ======================================================TESTIMONIALS=============================================




.testimonials {
	position: relative;
	height: 775px;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
&__title {


font-weight: 400;
font-size: 36px;
line-height: 130%;
/* identical to box height, or 47px */



color: #333B41;
margin-bottom: 44px;
}
	// .testimonials__item

	&__item {
		width: 268px;
		height: 391px;
		border: 2px solid transparent;
		background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
		box-shadow: inset 0px 0px 0px 100vw #f1f3f2;
		border-radius: 20px;
		padding: 13px;
		
	}

	// .testimonials__items

	&__items {
     display: flex;
	  column-gap: 30px;
	  margin-bottom: 22px;
	}

	&__scroll {
		display: block;
		margin-bottom: 30px;
		width: 599px;
		height: 8px;
		background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
      border-radius: 5px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	
color: #F5F7F6;
	}


	input[type=range] {
		height: 9px;
		-webkit-appearance: none;
		
	
	 }

	 input[type=range]::-webkit-slider-runnable-track {
		width: 100%;
		height: 7px;
		cursor: pointer;
		animate: 0.2s;
		background: #F5F7F6;
		border-radius: 5px;
		
		
	 }
	 input[type=range]::-webkit-slider-thumb {
	
	
		height: 7px;
		width: 115.19px;
		border-radius: 5px;
		background: #FE9013;
		cursor: pointer;
		-webkit-appearance: none;
		&:hover {
			
			background: linear-gradient(113.96deg, #f15512 1.49%, #f15512 101.44%);
			transition: all 1.3s ease 0s;
		}
		
	 }
	 input[type=range]:focus::-webkit-slider-runnable-track {
		background: #F5F7F6;
	 }
	 input[type=range]::-moz-range-track {
		width: 100%;
		height: 7px;
		cursor: pointer;
		animate: 0.2s;
		box-shadow: 1px 1px 1px #000000;
		background: #F5F7F6;
		border-radius: 5px;
		border: 1px solid #000000;
	 }

	&__btn {
		width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: 0px;
    color: #FFFFFF;
	 align-self: flex-start;
    border-radius: 5px;
	 font-weight: 500;
font-size: 15px;
line-height: 1.15;
/* or 22px */

text-align: center;
text-transform: uppercase;
&:hover {
			
	background: linear-gradient(113.96deg, #f15512 1.49%, #f15512 101.44%);
	transition: all 1.3s ease 0s;
}
	}
	
}


	// .testimonialss__container



.item-testimonials {
    display: flex;
    flex-direction: column;
	 background: #F1F3F2;
	 overflow: hidden;

	 &__body {
		display: flex;
	 }
  &__icon {
	width: 37px;
	height: 37px;
	margin-right: 10px;
	margin-bottom: 11px;
  }
    
	// .item-testimonials__icon



	// .item-testimonials__title

	&__title {
		font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */


color: #000000;

	}

	// .item-testimonials__subtitle

	&__subtitle {
		font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
display: block;
/* identical to box height, or 18px */


/* Gray 4 */

color: #BDBDBD;
	}

	// .item-testimonials__text

	&__text {
		font-weight: 300;
		font-size: 15px;
		line-height: 120%;
		color: #767474;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 17;
		-webkit-box-orient: vertical;

	}
}

.flower-last {
	right: -123px;
	bottom: 0px;
position: absolute;
z-index: -5;
 width: 368px;
 height: 275px;
	background: url("../img/leav_foto.png") no-repeat;
}



// ===================================================FOOTER==========================================


.footer {
	background: #111115;
	
	// .footer__container

	&__container {

	}

	&__body {
		display: flex;
    padding: 43px 0;
	 max-width: 100%;
	}

	// .footer__contacts

	&__contacts {
		display: flex;
		flex-direction: column;
	}

	// .footer__logo

	&__logo {

	}

	// .footer__button

	&__button {


	}

	&__btn {
		width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: 0px;
    color: #FFFFFF;
	 align-self: flex-start;
    border-radius: 5px;
	 font-weight: 500;
font-size: 15px;
line-height: 1.15;
/* or 22px */

text-align: center;
text-transform: uppercase;
margin-bottom: 49px;
&:hover {
			
	background: linear-gradient(113.96deg, #f15512 1.49%, #f15512 101.44%);
	transition: all 1.3s ease 0s;
}
	}

	// .footer__navigation

	&__navigation {
		
	}

	// .footer__form

	&__form {
	}

	// .footer__design

	&__design {
		align-self: flex-end;
    margin-top: 217px;
    color: white;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
	 font-family: 'Roboto';
font-style: normal;

	}

	// .footer__text

	&__text {
		margin-bottom: 9px;
	}
}
.logotip {
position: relative;
margin-bottom: 68px;

	&__text {
		 width: 82px;
	 height: 52px;
		font-weight: 400;
		font-size: 19.0145px;
		line-height: 120%;
		/* or 23px */
		
		text-align: center;
		
		color: #FFFFFF;
		
		border: 1.18841px solid #FFFFFF;
    
		

	}

	// .logotip__img

	&__img {
		position: absolute;
		left: 10px;
		top: 20px;
	}
}
.btn {

}
.media {

	.media__link {
		display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
	 &:hover {
		transition: all 0.0s ease 0s;
	
		color: #F9804B;
	}
  }
  .media__fb::before {
	display: inline-block;
	content: '';
	background: url("../img/face.svg");
	width: 26px;
	height: 26px;
	margin-right: 12px;
}
.media__tw::before {
	display: inline-block;
	content: '';
	background: url("../img/tw.svg");
	width: 26px;
	height: 26px;
	margin-right: 12px;
}
.media__ig::before {
	display: inline-block;
	content: '';
	background: url("../img/inst.svg");
	width: 26px;
	height: 26px;
	margin-right: 12px;
}
.media__yt::before {
	display: inline-block;
	content: '';
	background: url("../img/yu.svg");
	width: 26px;
	height: 26px;
	margin-right: 12px;
}



	// .media__twitter

	
}
.nav {
	align-self: flex-end;
    margin-left: 103px;
    margin-bottom: 19px;
    flex-grow: 0;

	// .nav__menu

	&__menu {
		display: flex;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.15;
		
			justify-content: space-between;
			
			gap: 58px;

		
		
		color: #FFFFFF;
		
	}

	// .nav__li

	&__li {
		
		// .nav__li_about

		&_about {
			
			a {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 140%;
				/* or 22px */
				
				
				color: #F9804B;
				
			}
		}

		// .nav__li_map

		&_map {
			cursor: pointer;
			transition: all 0.0s ease 0s;
			&:hover {
				transition: all 0.0s ease 0s;
				transform: scale(1.2);
				color: #F9804B;
			}
		}

		// .nav__li_zoos

		&_zoos {
			cursor: pointer;
			transition: all 0.0s ease 0s;
			&:hover {
				transition: all 0.0s ease 0s;
				transform: scale(1.2);
				color: #F9804B;
			}
		}

		// .nav__li_contact-us

		&_contact-us {
			cursor: pointer;
			transition: all 0.0s ease 0s;
			&:hover {
				transition: all 0.0s ease 0s;
				transform: scale(1.2);
				color: #F9804B;
			}
		}
	}

	// .nav__about

	&__about {
		
	}
}
.form {
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	// .form__title

	&__title {
		font-weight: 400;
		font-size: 24px;
		line-height: 120%;
		color: #FFFFFF;
		margin-bottom: 14px;
	}

	// .form__body

	&__body {
		display: flex;
	}

	// .form__input

	&__input {
		color: white;
    width: 228px;
    height: 40px;
    border-radius: 2px;
    border: 0.7px solid #F9804B;
    background: none;
    padding: 0 10px;
    margin-right: 10px;
    outline: none;

&:valid:focus {
    border: 0.7px solid #4B9200;
}

&:invalid:focus {
    border: 0.7px solid #D31414;
}
	 &::placeholder {
		font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


/* Gray 4 */

color: #BDBDBD;
	 }
	}

	// .form__btn

	&__btn {
		width: 128px;
    height: 40px;
    background: #F1F3F2;
	 border: 1px solid #4B9200;
    border-radius: 5px;
    color: #4B9200;
    cursor: pointer;
	
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		/* or 22px */


	 
	}
	input:valid:focus + .form__btn {
		border: 1px solid #4B9200;
		color: green;
  }
  
  input:invalid:focus + .form__btn {
		border: 1px solid #D31414;
		color: #D31414;
  }
}







/* Условные ПК, ноуты и телевизоры */
/* 1050 из макета (контейнер + отступы) */
@media (max-width: 1050px) {
}
/* Условные планшеты */
@media (max-width: 991.98px) {
}
/* Условные мобилки */
@media (max-width: 767.98px) {
}

/* №1 */
@media (max-width: 1050px) {
	[class*="__container"] {
		/* max-width: 970px; */
	}
}
/* №2 */
@media (max-width: 991.98px) {
	[class*="__container"] {
		/* max-width: 750px; */
	}
}
/* №3 */
@media (max-width: 767.98px) {
	[class*="__container"] {
		/* max-width: none; */
	}
}






 





















